html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}

#layer_selector {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
}

#layer_selector ul {
  padding: 0; margin: 0;
  list-style-type: none;
}

#layer_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #888;
  cursor: auto;
  background-color: #ccc;
}

#layer_selector li:hover {
  cursor: pointer;
}
#layer_selector li.selected {
  color: black;
  font-weight: bold;
  background-color: white;
}

#layers li.selected {
  color: black;
  font-weight: bold;
  background-color: white;
}

#manage {
    width: 15%;
    float: left;
    text-align: center;
 }
.connectedSortable {
  background-color: #fcfcfc;
  margin: 0;
  padding: 8px 2em;
  min-height: 20px;
  text-align: left;
  font-size: 14px;
}
.connectedSortable li {
  min-height: 20px;
}

